<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css"/>
    <title>Purchase Images</title>
</head>
<body>
    <section class="hero">
        <h1>Images Purchase Shop</h1>
        <p>Welcome to images purchase shop, your one stop shop for purchasing high quality images.</p>
        <div>
            <a href="/upload">Upload an Image</a>
            <a href="/payments">View Payment Records</a>
        </div>
    </section>

    <section class="images">
        <% images.forEach(function(image){ %>
            <div>
                <img src="<%= image.link %>" alt=""/>
                <p>Price: <%= image.price %></p>
                <button>Buy Now</button>
            </div>

        <% }); %>
    </section>
</body>
</html>