<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/payments.css"/>
    <title>View Payments</title>
</head>
<body>
    <section class="hero">
        <h1>Images Purchases</h1>
        <p>View records of images that have been purchased.</p>
        <a href="/">Purchase an Image</a>
    </section>
</body>
</html>