body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    height: 100vh;
}

div{
    width: 70%;
    height: 300px;
    background-color: pink;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: purple;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    div{
        width: 90%;
    }
}

@media screen and (max-width: 768px){
    div{
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
}